<settings>
    <profiles>
        <profile>
            <id>artifactory-plugin-properties</id>
            <properties>
                <username>admin</username>
                <password>password</password>
                <artifactoryUrl>https://icarusaug162021.jfrogdev.org/artifactory</artifactoryUrl>
            </properties>
        </profile>
    </profiles>

    <activeProfiles>
        <activeProfile>artifactory-plugin-properties</activeProfile>
    </activeProfiles>
</settings>
